/*------------ Body Styles ------------*/
/* body {
	height: 100vh;
} */

body,
body * {
	color: white;
	background-color: black;
}

/* Header Styles */
#projects h1 {
    /* text-decoration: underline; */
}

/*------------ Card Styles ------------*/
.card {
	border: 2px solid white;
}

.card a {
	color: white;
}

.card i {
    font-size: xx-large;
}

/*------------ Nav Styles ------------*/

#navList {
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: 10px;
}

#navList li a {
	text-decoration: none;
	font-size: x-large;
    border-radius: 10%;
}

/* New Nav */
.hoverable {
	display: inline-block;
	backface-visibility: hidden;
	vertical-align: middle;
	position: relative;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	transform: translateZ(0);
	transition-duration: 0.3s;
	transition-property: transform;
}

.hoverable:before {
	position: absolute;
	pointer-events: none;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(
		center,
		ellipse,
		rgba(255, 255, 255, 0.35) 0%,
		rgba(255, 255, 255, 0) 80%
	);
	background: radial-gradient(
		ellipse at center,
		rgba(255, 255, 255, 0.35) 0%,
		rgba(255, 255, 255, 0) 80%
	);
	/* W3C */
	transition-duration: 0.3s;
	transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
	transform: translateY(-5px);
}
.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
	opacity: 1;
	transform: translateY(-5px);
}
